extends ../layout

block content
  .main.container
    .row
      .justify-content-center
        h1.display-4.mb-2 #{__('users.form.sign_up')}
        form(method='POST' action='/auth/sign_up')
          div.form-group
            label(for='firstname') #{__('users.form.first_name')}
            input.form-control(type='text' id='firstname' placeholder='First name' name='firstname' value=(req && req.firstname))
          div.form-group
            label(for='lastname') #{__('users.form.last_name')}
            input.form-control(type='text' id='lastname' placeholder='Last name' name='lastname' value=(req && req.lastname))
          div.form-group
            label(for='email') #{__('users.form.email')}
            input.form-control(type='text' id='email' placeholder='Email' name='email' value=(req && req.email))
          div.form-group
            label(for='password') #{__('users.form.password')}
            input.form-control(type='password' id='password' placeholder='Password' name='password' value='')
          div.form-group
            label(for='confirmpassword') #{__('users.form.password_confirmation')}
            input.form-control(type='password' id='confirmpassword' placeholder='Confirm password' name='confirmpassword' value='')
          button.btn.btn-primary(type='submit') Register
