extends ../layout

block content
  .main.container
    .row
      .col-md-6.col-md-offset-3
        h1.display-4.m-b-2 #{__('users.sign_up')}
        form(method='POST' action='/auth/sign_up')
          div.form-group
            label(for='firstname') #{__('users.first_name')}
            input.form-control(type='text' id='firstname' placeholder='First name' name='firstname')
          div.form-group
            label(for='lastname') #{__('users.last_name')}
            input.form-control(type='text' id='lastname' placeholder='Last name' name='lastname')
          div.form-group
            label(for='email') #{__('users.email')}
            input.form-control(type='text' id='email' placeholder='Email' name='email')
          div.form-group
            label(for='password') #{__('users.password')}
            input.form-control(type='password' id='password' placeholder='Password' name='password')
          div.form-group
            label(for='confirmpassword') #{__('users.password_confirmation')}
            input.form-control(type='password' id='confirmpassword' placeholder='Confirm password' name='confirmpassword')
          button.btn.btn-primary(type='submit') Register
