extends layout

block content
  main.flex-shrink-0.my-5
    .container
      .card.mb-4
        .card-body
          h2.card-title.text-center.mb-4 Для чего нужны онлайн собеседования?
          .row.justify-content-center
            ul.list-group-flush
              li.list-group-item.lead
                | Если вы еще не готовы идти на "настоящее" собеседование
              li.list-group-item.lead
                | Хотите просто проверить свои силы
          .row
            a.mx-auto.btn.btn-success.btn-lg(href="/interview/new") #{__('app.want_to_interview')}
      .row.mb-5
        h3.text-center.mx-auto.mb-4 #{__('app.coming_interviews')}
        .table-responsive.bg-white.shadow-sm
          table.table.table-sm
            thead.thead-light
              tr
                th.p-3.border-0 #{__('interview.interviewer')}
                th.p-3.border-0 #{__('interview.interviewee')}
                th.p-3.border-0 #{__('interview.videoLink')}
              tbody
                if comingInterviews && comingInterviews.length > 0
                  each interview in comingInterviews
                    tr
                      td.p-3.align-middle.text-nowrap #{interview.interviewer}
                      td.p-3.align-middle.text-nowrap #{interview.interviewee}
                      td.p-3.align-middle.text-nowrap
                        a(href=interview.videoLink) #{interview.videoLink}

      .row.mb5
        h3.text-center.mx-auto.mb-4 #{__('app.past_interviews')}
        .table-responsive.bg-white.shadow-sm
          table.table.table-sm
            thead.thead-light
              tr
                th.p-3.border-0 #{__('interview.interviewer')}
                th.p-3.border-0 #{__('interview.interviewee')}
                th.p-3.border-0 #{__('interview.videoLink')}
              tbody
                if pastInterviews && pastInterviews.length > 0
                  each interview in pastInterviews
                    tr
                      td.p-2.align-middle.text-nowrap #{interview.interviewer}
                      td.p-3.align-middle.text-nowrap #{interview.interviewee}
                      td.p-3.align-middle.text-nowrap
                        a(href=interview.videoLink)
                          img(src=interview.preview, width='250').img-thumbnail
