extends layout

block content
  main.flex-shrink-0.my-5
    .container
      if userComingInterviews && userComingInterviews.length
        .card.mb-4.border-warning
          .card-body
            h2.card-title.mb-4.text-center= `${__('account.coming_title')}:`
            for interview in userComingInterviews
              .row.no-gutter.mb-5
                .col-md-4.col-lg-3
                  .shadow-sm.bg-light.mx-0.p-3.mt-2.mb-4.my-md-0.mx-md-2
                    .mb-3
                      .font-weight-light #{__('interview.interviewer')}:
                      .h5 #{interview.interviewer.fullName}
                    div
                      .font-weight-light #{__('interview.data')}:
                      .h5= dateFns.format(new Date(interview.date),'PP', { locale: dateLocale })

                .col-md-8.col-lg-9
                  .h5.mb-1 #{interview.profession}
                  .mb-2= interview.position
                  if interview.description
                      .text-muted #{interview.description}

      .card.mb-4
        .card-body
          h2.card-title.text-center.mb-4 Для чего нужны онлайн собеседования?
          .row.justify-content-center
            ul.list-group-flush.mb-4
              li.list-group-item.lead
                i.far.fa-hand-point-right.mr-2
                | Если вы еще не готовы идти на "настоящее" собеседование
              li.list-group-item.lead
                i.far.fa-hand-point-right.mr-2
                | Хотите просто проверить свои силы
          .row
            a.mx-auto.btn.btn-success.btn-lg(href="/interview/application") #{__('app.want_to_interview')}
      .row.mb-5
        h3.text-center.mx-auto.mb-4 #{__('app.coming_interviews')}
        .table-responsive.bg-white.shadow-sm
          table.table.table-sm.mb-0
            thead.thead-light
              tr
                th.p-3.border-0.text-center.font-11em #{__('interview.interviewer')}
                th.p-3.border-0.text-center.font-11em #{__('interview.interviewee')}
                th.p-3.border-0.text-center.font-11em #{__('interview.videoLink')}
              tbody
                if comingInterviews && comingInterviews.length > 0
                  each interview in comingInterviews
                    tr
                      td.p-3.align-middle.text-center #{interview.interviewer.fullName}
                      td.p-3.align-middle.text-center #{interview.interviewee.fullName}
                      td.p-3.align-middle.text-center
                        if interview.videoLink
                          div.d-flex.flex-column
                            a(href=interview.videoLink).mb-3 #{interview.videoLink}
                            span.badge.badge-info.align-self-center.pt-1.pr-3.pb-1.pl-3 #{interview.profession}
                        else
                          div.d-flex.flex-column
                            p.mb-3 #{__('coming_soon')}
                            span.badge.badge-info.align-self-center.pt-1.pr-3.pb-1.pl-3 #{interview.profession}


      .row.mb5
        h3.text-center.mx-auto.mb-4 #{__('app.passed_interviews')}
        .table-responsive.bg-white.shadow-sm
          table.table.table-sm
            thead.thead-light
              tr
                th.p-3.border-0.text-center.font-11em #{__('interview.interviewer')}
                th.p-3.border-0.text-center.font-11em #{__('interview.interviewee')}
                th.p-3.border-0.text-center.font-11em #{__('interview.videoLink')}
              tbody
                if pastInterviews && pastInterviews.length > 0
                  each interview in pastInterviews
                    tr
                      td.p-2.align-middle.text-nowrap.text-center #{interview.interviewer.fullName}
                      td.p-3.align-middle.text-nowrap.text-center #{interview.interviewee.fullName}
                      td.p-3.align-middle.text-nowrap.text-center
                        div.d-flex.flex-column
                          a(href=interview.videoLink).mb-3
                            img(src=interview.preview, width='200').img-thumbnail
                          span.badge.badge-info.align-self-center.pt-1.pr-3.pb-1.pl-3 #{interview.profession}
