include ./mixins/forms.pug
include ./mixins/utils.pug

doctype html
html(lang='ru')

  head
    meta(charset='utf-8')
    meta(name='viewport' content='width=device-width, initial-scale=1')
    meta(http-equiv='X-UA-Compatible' content='IE=edge')
    link(href='/assets/style.css', rel='stylesheet', type="text/css")
    title #{__('app.title')}
    block head

  body.d-flex.flex-column.min-vh-100
    nav.navbar.navbar-expand-lg.navbar-light.bg-light
      a.navbar-brand(href="/") HexletInterview
      button.navbar-toggler(type="button" data-toggle="collapse" data-target="#navbarSupportedContent")
            span.navbar-toggler-icon
      .collapse.navbar-collapse#navbarSupportedContent
        ul.navbar-nav
          if login
            li.nav-item
              a.nav-link(href="/my/application") #{__('app.my_interview_applications')}
          if userRole === 'admin'
              li.nav-item
                a.nav-link(href="/interview/manage/application") #{__('app.manage_interviews')}
        ul.navbar-nav.ml-auto
          if login
            li.nav-item
              span.navbar-text.mr-2= user.email
            li.nav-item
              a.nav-link(href='/auth/sign_out')
                div #{__('users.form.sign_out')}
          else
            li.nav-item
              a.nav-link(href='/auth/sign_in')
                div #{__('users.form.sign_in')}
            li.nav-item
              a.nav-link(href='/auth/sign_up')
                div #{__('users.form.sign_up')}

    if messages.success
      .alert.alert-success #{messages.success}

    if messages.error
      .alert.alert-danger #{messages.error}

    if messages.warn
      .alert.alert-warning #{messages.warn}

    block content

    footer.footer.mt-auto
      .container
        p © Hexlet
    script(src='/assets/main.js' type="text/javascript")
