doctype html
html(lang='ru').h-100

  head
    meta(charset='utf-8')
    meta(name='viewport' content='width=device-width, initial-scale=1, minimal-ui')
    meta(http-equiv='X-UA-Compatible' content='IE=edge')
    link(href='/css/index.css', rel='stylesheet')
    link(href='https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css', rel='stylesheet')
    link(href='https://use.fontawesome.com/releases/v5.3.1/css/all.css', rel='stylesheet')
    title #{__('app.title')}
    block head

  body.d-flex.flex-column
    nav.navbar.navbar-expand-lg.navbar-light.bg-light
      a.navbar-brand(href="/").mr-5 HexletInterview
      .collapse.navbar-collapse
        ul.navbar-nav.mr-auto
          li.nav-item
            a.nav-link(href="/interview") #{__('app.interview_requests')}
        ul.navbar-nav.ml-auto
          if login
            li.nav-item
              span.navbar-text.mr-2= user.email
            li.nav-item
              a.nav-link(href='/auth/sign_out')
                div #{__('users.form.sign_out')}
          else
            li.nav-item
              a.nav-link(href='/auth/sign_in')
                div #{__('users.form.sign_in')}
            li.nav-item
              a.nav-link(href='/auth/sign_up')
                div #{__('users.form.sign_up')}

    if messages.success
      .alert.alert-success #{messages.success}

    if messages.error
      .alert.alert-danger #{messages.error}

    if messages.warn
      .alert.alert-warning #{messages.warn}

    block content

    footer.footer.mt-auto
      .container
        p © Hexlet
