extends ../layout

block content
  - const isEditForm = _.last(path.split('/')) === 'edit';
  - const actionUrl = isEditForm ? `/interview/application/${id}/edit` : `/interview/application`;
  - const method = 'POST';
  .container
    .row.pt-5
      .col-lg-5.col-md-8.mx-auto
        h2 #{__('interview.request')}
        form(method=method action=actionUrl)
          +select('profession', {
            label: __('interview.form.profession'),
            help: __('interview.form.professsion-description'),
            choices: [
              { value: __('interview.js-frontend'), name: __('interview.js-frontend') },
              { value: __('interview.js-backend'), name: __('interview.js-backend') },
              { value: __('interview.php'), name: __('interview.php') },
              { value: __('interview.java'), name: __('interview.java') },
              { value: __('interview.python'), name: __('interview.python') },
            ]
          })
          +select('position', {
            label: __('interview.form.position'),
            help: __('interview.form.position-description'),
            choices: [
              { value: __('interview.intern'), name: __('interview.intern') },
              { value: __('interview.junior'), name: __('interview.junior') },
              { value: __('interview.middle'), name: __('interview.middle') },
              { value: __('interview.senior'), name: __('interview.senior') },
            ]
          })
          +textarea('description', {
            label: __('interview.form.about'),
            help: __('interview.form.about-description'),
          })
          - const btnText = isEditForm ? __('interview.edit') : __('interview.form.send-request');
          button.btn.btn-primary(type='submit')= btnText
