extends ../layout

block content
  .container
    .row.pt-5
      .col-lg-5.col-md-8.mx-auto
        h1 #{__('interview.request')}
        form(method='POST' action='/interview')
          // TODO: остальные поля тоже переделать на миксины с отображением ошибок.
          .form-group
            label(for='profession') #{__('interview.form.profession')}
            select.form-control(name='profession')
              option #{__('interview.js-frontend')}
              option #{__('interview.js-backend')}
              option #{__('interview.php')}
              option #{__('interview.java')}
              option #{__('interview.python')}
            small.form-text.text-muted #{__('interview.form.professsion-description')}
          .form-group
            label(for='level') #{__('interview.form.position')}
            select.form-control(name='position')
              option #{__('interview.intern')}
              option #{__('interview.junior')}
              option #{__('interview.middle')}
              option #{__('interview.senior')}
            small.form-text.text-muted #{__('interview.form.position-description')}
          +textarea(formdata, 'description', {
            as: 'textarea',
            label: __('interview.form.about'),
            small: __('interview.form.about-description'),
          })
          button.btn.btn-primary(type='submit') #{__('interview.form.send-request')}
