- const formData = badRequestFormData || new helpers.FormData();

mixin input(property, options)
  - const type = options.as || 'text';
  - const placeholder = options.placeholder || label;
  - const hasPropertyError = formData.hasPropertyError(property);
  - const validClass = helpers.getValidnessClassName(formData.hasErrors(), hasPropertyError);
  - const value = formData.getPropertyValue(property);
  .form-group(class=(formData.errors[property] && 'has-danger'))
    label= options.label
    input.form-control(name=property class=validClass type=type value=value, placeholder=placeholder)
    if options.help
      small= options.help
    if hasPropertyError
      .invalid-feedback= helpers.joinErrorMessages(formData.getPropertyErrorMessages(property))

mixin textarea(property, options)
  - const hasPropertyError = formData.hasPropertyError(property);
  - const validClass = helpers.getValidnessClassName(formData.hasErrors(), hasPropertyError);
  - const value = formData.getPropertyValue(property);
  .form-group(class=(formData.errors[property] && 'has-danger'))
    label= options.label
    textarea.form-control(name=property class=validClass)= value
    if options.help
      small.form-text.text-muted= options.help
    if hasPropertyError
      .invalid-feedback= helpers.joinErrorMessages(formData.getPropertyErrorMessages(property))

mixin select(property, options)
  - const { label, choices=[], help } = options;
  - const hasPropertyError = formData.hasPropertyError(property);
  - const validClass = helpers.getValidnessClassName(formData.hasErrors(), hasPropertyError);
  - const value = formData.getPropertyValue(property);
  .form-group(class=(formData.errors[property] && 'has-danger'))
    label= options.label
    select.custom-select(name=property class=validClass)
      for choice  in choices
        - const { value: choiceValue, name, selectedDefault, disabled , hidden } = choice
        - const valueSelected = choiceValue === value
        - const isDefaultSelectedApply = !value && selectedDefault
        - const selected = valueSelected || isDefaultSelectedApply
        option(value=choiceValue, selected=selected, disabled=disabled, hidden=hidden)= name
    if help
      small.form-text.text-muted= help
    if hasPropertyError
      .invalid-feedback= helpers.joinErrorMessages(formData.getPropertyErrorMessages(property))

